PORT=3000
SESSION_SECRET=cambia_esta_clave_secreta
NODE_ENV=development
WHATSAPP_NUMBER=+573000000000
INSTAGRAM_URL=https://instagram.com/camaluna
FACEBOOK_URL=https://facebook.com/camaluna
CONTACT_EMAIL=info@camaluna.com
